*{
    border: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color:black;
    background-color: slategray;

    }   


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

h1 {
    font-size: 350%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}


nav a {
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 25px;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}
main {
    margin: 20px auto 45px auto;
    max-width: 80%;
}

.section-zones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 5% 0;
    padding: 5px 1;
    height: 100px;

}


.section-zones h2 {
    border-right: 4px solid black;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 0;
}

section p {
    display: flex;
    margin-left: 25px;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 20%;
    max-height: 20x;
}
footer {
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63px;
    background: black;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    
}

footer ul {
    display: flex;
    margin-bottom: 14px;
    padding: 13px;
    justify-content: center;
}


